@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  main {
    margin: 0;
    padding: 0;
  }

  body {
    background: #1e1e1e;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #1E1E1E inset !important;
    -webkit-text-fill-color: #e5e7eb !important;
    border: 1px solid #364153 !important;
    transition: background-color 5000s ease-in-out 0s !important;
    background-color: #1E1E1E !important;
  }

  input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
  }



  h1 {
    @apply mx-auto max-w-4xl text-center text-5xl font-bold leading-tight tracking-[-1%] text-white sm:text-[64px] sm:leading-[76px];
  }

  h2 {
    @apply text-2xl font-bold text-white sm:text-3xl;
  }

  h3 {
    @apply text-lg font-semibold text-white sm:text-xl;
  }

  header {
    @apply sm:mt-10 mt-5;
  }

  header img {
    @apply w-full max-w-lg h-auto object-contain mx-auto drop-shadow-md;
  }
}

@theme {

  --color-primary: #8C47F6;
  --color-secondary-grey: #B3B3B3;
  --color-background: #1e1e1e;

  --background-image-main-page: url("/main-page-background.png");
  --background-image-login-and-registration-page: url("/login-and-registration-background.png");
}

@utility text-gradient {
  @apply bg-linear-to-r from-[#D6C7FF] to-[#AB8BFF] bg-clip-text text-transparent;
}

@layer components {
  .main-page-background {
    @apply bg-main-page w-screen h-screen bg-center bg-cover fixed inset-0 z-0 overflow-hidden;
  }

  .search-bar {
    @apply w-full bg-[#cecefb]/5 px-4 py-3 rounded-4xl max-w-3xl mx-auto;

    & div {
      @apply relative flex items-center;
    }

    & img {
      @apply absolute left-2 h-5 w-5;
    }

    & input {
      @apply w-full bg-transparent py-2 sm:pr-10 pl-10 text-base text-gray-200 placeholder-[#cecefb] outline-hidden;
    }
  }

  .course-card {
    @apply relative aspect-[4/3] rounded-2xl w-full max-w-sm  shadow-lg overflow-hidden;

    & img {
      @apply h-full w-full object-cover;
    }

    & h3 {
      @apply text-white font-bold text-base line-clamp-1;
    }
  } 

  .login-and-registration-container {
    @apply fixed inset-0 flex items-center justify-center bg-login-and-registration-page bg-cover bg-center;
  }

  .login-and-registration-form {
    @apply px-10 py-8 rounded-2xl shadow-2xl bg-[#222224] w-full max-w-[480px] mx-auto overflow-auto max-h-[90vh];

    & h1 {
      @apply text-5xl text-center;
    }    

    & button {
      @apply w-auto mt-8 bg-primary text-white px-16 py-2 block mx-auto rounded-full cursor-pointer hover:enabled:drop-shadow-[0_0_8px_rgba(140,71,246,1)] transition;

      &:disabled {
      @apply bg-gray-500 cursor-default shadow-none;
      }
    }

    & label, p {
      @apply mb-1 text-left text-gray-100;
    }
  }

  .input-box {
    @apply flex flex-col relative w-full h-16 mt-8;

    & input {
      @apply border-1 border-gray-700 text-gray-200 w-full h-full bg-[#1E1E1E] p-2 rounded-lg placeholder:text-gray-500
    }
  }
}